apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: gamevault
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: 888577066420.dkr.ecr.eu-central-1.amazonaws.com/gamevault-backend:latest
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: production
