apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: gamevault
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: 888577066420.dkr.ecr.eu-central-1.amazonaws.com/gamevault-frontend:latest
          ports:
            - containerPort: 5173
